
$bg-color: #ebf0f0;
$nav-default-color: #dadada;
$nav-bg-color: #002854;

$btn-bg: #00aee0;

$active-color: #15b6e4;
$active-color-hover: rgba(21, 182, 228, 0.8);

$default-color: #4a4a4a;

$default-border-color: #dbdbdb;

$base-padding: 20px;
$base-radius: 5px;

$top-height: 50px;
$min-height: 600px;

$logo-size: 25px;
